@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="body-content">
    <h2>Welcome to Contoso University</h2>
    <p>
        Founded in 2017, Contoso University is the flagship institution of higher learning in Fictionland and offers many degrees in over 50 different fields.
    </p>
    <img src="~/images/classroom.jpeg" alt="Classroom Stock Photo" >
</div>